{% extends "layout_md_8.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Add School</legend>
				<div class="form-group">
					{{ form.schoolname.label(class="form-control-label") }}
					{% if form.schoolname.errors %}
						{{ form.schoolname(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.schoolname.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.schoolname(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.city.label(class="form-control-label") }}
					{% if form.city.errors %}
						{{ form.city(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.city.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.city(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.state.label(class="form-control-label") }}
					{% if form.state.errors %}
						{{ form.state(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.state.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.state(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.pincode.label(class="form-control-label") }}
					{% if form.pincode.errors %}
						{{ form.pincode(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.pincode.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.pincode(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.addresslineone.label(class="form-control-label") }}
					{% if form.addresslineone.errors %}
						{{ form.addresslineone(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.addresslineone.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.addresslineone(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.addresslinetwo.label(class="form-control-label") }}
					{% if form.addresslinetwo.errors %}
						{{ form.addresslinetwo(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.addresslinetwo.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.addresslinetwo(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.board.label(class="form-control-label") }}
					{% if form.board.errors %}
						{{ form.board(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.board.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.board(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.numberofstudent.label(class="form-control-label") }}
					{% if form.numberofstudent.errors %}
						{{ form.numberofstudent(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.numberofstudent.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.numberofstudent(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.priciplename.label(class="form-control-label") }}
					{% if form.priciplename.errors %}
						{{ form.priciplename(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.priciplename.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.priciplename(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.ownername.label(class="form-control-label") }}
					{% if form.ownername.errors %}
						{{ form.ownername(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.ownername.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.ownername(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.website.label(class="form-control-label") }}
					{% if form.website.errors %}
						{{ form.website(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.website.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.website(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.additionalcomment.label(class="form-control-label") }}
					{% if form.additionalcomment.errors %}
						{{ form.additionalcomment(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.additionalcomment.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.additionalcomment(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>

	<div class="border-top pt-3">
		<small class="text-muted">
			Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
		</small>
	</div>
{% endblock %}