{% extends "layout_md_12.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 sameHeight">
      <a href="/show_school"><button class="btn btn-outline-info" style="margin: 5px; width: 100%">Existing School</button></a>
    </div>
    <div class="col-md-6 sameHeight">
      <a href="/add_school"><button class="btn btn-outline-info" style="margin: 5px; width: 100%">Add School</button></a>
    </div>
    <div class="col-md-6 sameHeight">
      <a href="/school_setup"><button class="btn btn-outline-info" style="margin: 5px; width: 100%">School Setup</button></a>
    </div>
    <div class="col-md-6 sameHeight">
      <button class="btn btn-outline-info" style="margin: 5px; width: 100%">Report</button>
    </div>
    <div class="col-md-6 sameHeight">
      <button class="btn btn-outline-info" style="margin: 5px; width: 100%">Register School</button>
    </div>
    <div class="col-md-6 sameHeight">
      <button class="btn btn-outline-info" style="margin: 5px; width: 100%">Modify Role</button>
    </div>
  </div>
 </div>

{% endblock %}